<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie lt-ie9 lt-ie8 ie7" lang="pt-BR" prefix="og:http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]><html class="no-js ie lt-ie9 ie8" lang="pt-BR" prefix="og:http://ogp.me/ns#"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="pt-BR" prefix="og:http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="pt-BR" prefix="og:http://ogp.me/ns#"><!--<![endif]-->
  <head>
  <meta charset="utf-8" />
  <meta name="description" content =""/>
  <meta name="keywords" content=""/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>

  <title>Hello World</title>

  <!--Facebook metas-->
  <meta property="og:title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">

  <!--/Facebook metas-->

  <!-- HTML5/CSS3 For legacy browsers -->
  <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->

  <link rel='author' href="assets/humans.txt">
  <link rel="icon" href="assets/images/favicon.png">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/stylesheets/style.min.css">
  </head>
  <body>
    <header class="main-header">
      <h2>Header</h2>
    </header>

    <main>
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, commodi, necessitatibus assumenda enim facere veritatis quod dolore possimus fugit molestias minima unde totam quis id praesentium soluta earum ipsam ab!</p>
      </article>
    </main>

    <aside class="main-aside">
      <h3>Aside</h3>
    </aside>

    <footer class="main-footer">
      <h2>Footer</h2>
    </footer>

    <!-- Scripts -->
    <script src="assets/javascript/script.min.js"></script>
  </body>
</html>